/** @format */
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#header {
	margin: 0px;
}
.loadingPage {
	background-color: black;
	height: 100vh;
	width: 100vw;
	animation: fadeout 1s ease-in;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
}

@keyframes fadeout {
	50% {
		opacity: 100%;
		transform: translateY(0%);
	}
	100% {
		opacity: 0%;
		transform: translateY(100%);
		display: none;
	}
}
